<p id="notice"><%= notice %></p>

<h1>Listing Vehicles</h1>

<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Color</th>
      <th>Condition</th>
      <th>Price</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.category.name %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.condition %></td>
        <td><%= number_to_currency(vehicle.price) %></td>
        <td class="text-right">
          <%= link_to 'Show', vehicle, class: "btn btn-default" %>
          <%= link_to 'Edit', edit_vehicle_path(vehicle), class: "btn btn-link" %>
          <%= link_to 'Destroy', vehicle, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path, class: "btn btn-primary" %>
